body{
	background-color: #fafafa;
	font-family: Arial;
	font-size: 16px;
	line-height: 1.6em;
}

.card-board-window
{
	height: 600px;
	overflow: hidden;
	border: 1px solid #999;
	background-color: #eee;
	position: relative;
	margin: 20px;
}

.card-board{
	background-color: #fff;
	width: 6000px;
	height: 6000px;
	cursor: move;
	margin: 20px;
	position: relative;
}

.card {
	box-shadow: 1px 1px 3px #999;
	max-width: 300px;
	padding: 15px;
	background-color: #F1C40F; /* yellowish */
	cursor: move;
	color: #fff;
	border-radius: 5px;
	z-index: 999;
	float: left;
}

.card .editor{
	cursor: pointer;
	padding: 5px;
}


.blue { background-color: #3498DB; }
.green { background-color: #2ECC71; }
.turquoise { background-color: #1ABC9C; }
.amethyst { background-color: #9B59B6; }
.asphalt { background-color: #34495E; }
.carrot { background-color: #E67E22;}

.card-bin {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;        

	border: 4px dashed #ccc;
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-align: center;
	line-height: 60px;
	color: #ccc;
}

.drophover{
	border: 4px dashed #E74C3C;
	color: #E74C3C;	
}